body{
    background-color:#4A89DC;
    color : white;
    margin: 0;
    padding: 0;
}

button {
    width:200px;
    height:2%;
    margin:2%;
    padding: 1%;
    display: inline-block;
    border: 1px solid white;;
    outline:none;
    background-color:transparent;
    color:white; 
    transition: 1.5s ease-out;
    cursor: pointer;
}

button:hover{
background-color: rgba(255,255,255, 0.3);
}

h1,h3{
    text-align: center;
}
h3{
    margin-top:15%;
}
h1{
    margin:2% auto;
    font-size: 500%;
}